.container {
  background-image: url(../../images/criancas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 85.2vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frase {
  color: #ffff;
  font-size: 5rem;
}

.container > button {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  background: #689bfb;
  font-family: "IBM Plex Mono";
  color: #ffff;
  font-size: x-large;
  border: none;
  margin-bottom: 50px;
}

.container > button:active {
  transform: scale(0.98);
  background: #b5cdfa;
}
